html {padding: 5px 5px 5px 5px;font-size: medium;font: 100% Arial,Helvetica,sans-serif}
h2 {font-size: x-large;}
h3 {font-size: medium;color: gray}
b {font-weight: bold}
pre {margin: 10px 10px 10px 10px;padding: 10px 5px 10px 5px;border: 1px dashed #808080;background: #cccccc;color: #000000;}
img {margin: 10px 10px 10px 10px;	border: 1px dashed #808080;}
html {padding: 5px 5px 5px 5px;font-size: medium;font: 100% Arial,Helvetica,sans-serif}
h2 {font-size: x-large;}
h3 {font-size: medium;color: gray}
b {font-weight: bold}
pre {margin: 10px 10px 10px 10px;padding: 10px 5px 10px 5px;border: 1px dashed #808080;background: #cccccc;color: #000000;}
img {margin: 10px 10px 10px 10px;	border: 1px dashed #808080;}
html {padding: 5px 5px 5px 5px;font-size: medium;font: 100% Arial,Helvetica,sans-serif}
h2 {font-size: x-large;}
h3 {font-size: medium;color: gray}
b {font-weight: bold}
pre {margin: 10px 10px 10px 10px;padding: 10px 5px 10px 5px;border: 1px dashed #808080;background: #cccccc;color: #000000;}
img {margin: 10px 10px 10px 10px;	border: 1px dashed #808080;}
html {padding: 5px 5px 5px 5px;font-size: medium;font: 100% Arial,Helvetica,sans-serif}
h2 {font-size: x-large;}
h3 {font-size: medium;color: gray}
b {font-weight: bold}
pre {margin: 10px 10px 10px 10px;padding: 10px 5px 10px 5px;border: 1px dashed #808080;background: #cccccc;color: #000000;}
img {margin: 10px 10px 10px 10px;	border: 1px dashed #808080;}
html {padding: 5px 5px 5px 5px;font-size: medium;font: 100% Arial,Helvetica,sans-serif}
h2 {font-size: x-large;}
h3 {font-size: medium;color: gray}
b {font-weight: bold}
pre {margin: 10px 10px 10px 10px;padding: 10px 5px 10px 5px;border: 1px dashed #808080;background: #cccccc;color: #000000;}
img {margin: 10px 10px 10px 10px;	border: 1px dashed #808080;}
html {padding: 5px 5px 5px 5px;font-size: medium;font: 100% Arial,Helvetica,sans-serif}
h2 {font-size: x-large;}
h3 {font-size: medium;color: gray}
b {font-weight: bold}
pre {margin: 10px 10px 10px 10px;padding: 10px 5px 10px 5px;border: 1px dashed #808080;background: #cccccc;color: #000000;}
img {margin: 10px 10px 10px 10px;	border: 1px dashed #808080;}
html {padding: 5px 5px 5px 5px;font-size: medium;font: 100% Arial,Helvetica,sans-serif}
h2 {font-size: x-large;}
h3 {font-size: medium;color: gray}
b {font-weight: bold}
pre {margin: 10px 10px 10px 10px;padding: 10px 5px 10px 5px;border: 1px dashed #808080;background: #cccccc;color: #000000;}
img {margin: 10px 10px 10px 10px;	border: 1px dashed #808080;}
html {padding: 5px 5px 5px 5px;font-size: medium;font: 100% Arial,Helvetica,sans-serif}
h2 {font-size: x-large;}
h3 {font-size: medium;color: gray}
b {font-weight: bold}
pre {margin: 10px 10px 10px 10px;padding: 10px 5px 10px 5px;border: 1px dashed #808080;background: #cccccc;color: #000000;}
img {margin: 10px 10px 10px 10px;	border: 1px dashed #808080;}
html {padding: 5px 5px 5px 5px;font-size: medium;font: 100% Arial,Helvetica,sans-serif}
h2 {font-size: x-large;}
h3 {font-size: medium;color: gray}
b {font-weight: bold}
pre {margin: 10px 10px 10px 10px;padding: 10px 5px 10px 5px;border: 1px dashed #808080;background: #cccccc;color: #000000;}
img {margin: 10px 10px 10px 10px;	border: 1px dashed #808080;}
html {padding: 5px 5px 5px 5px;font-size: medium;font: 100% Arial,Helvetica,sans-serif}
h2 {font-size: x-large;}
h3 {font-size: medium;color: gray}
b {font-weight: bold}
pre {margin: 10px 10px 10px 10px;padding: 10px 5px 10px 5px;border: 1px dashed #808080;background: #cccccc;color: #000000;}
img {margin: 10px 10px 10px 10px;	border: 1px dashed #808080;}
html {padding: 5px 5px 5px 5px;font-size: medium;font: 100% Arial,Helvetica,sans-serif}
h2 {font-size: x-large;}
h3 {font-size: medium;color: gray}
b {font-weight: bold}
pre {margin: 10px 10px 10px 10px;padding: 10px 5px 10px 5px;border: 1px dashed #808080;background: #cccccc;color: #000000;}
img {margin: 10px 10px 10px 10px;	border: 1px dashed #808080;}
html {padding: 5px 5px 5px 5px;font-size: medium;font: 100% Arial,Helvetica,sans-serif}
h2 {font-size: x-large;}
h3 {font-size: medium;color: gray}
b {font-weight: bold}
pre {margin: 10px 10px 10px 10px;padding: 10px 5px 10px 5px;border: 1px dashed #808080;background: #cccccc;color: #000000;}
img {margin: 10px 10px 10px 10px;	border: 1px dashed #808080;}
html {padding: 5px 5px 5px 5px;font-size: medium;font: 100% Arial,Helvetica,sans-serif}
h2 {font-size: x-large;}
h3 {font-size: medium;color: gray}
b {font-weight: bold}
pre {margin: 10px 10px 10px 10px;padding: 10px 5px 10px 5px;border: 1px dashed #808080;background: #cccccc;color: #000000;}
img {margin: 10px 10px 10px 10px;	border: 1px dashed #808080;}
html {padding: 5px 5px 5px 5px;font-size: medium;font: 100% Arial,Helvetica,sans-serif}
h2 {font-size: x-large;}
h3 {font-size: medium;color: gray}
b {font-weight: bold}
pre {margin: 10px 10px 10px 10px;padding: 10px 5px 10px 5px;border: 1px dashed #808080;background: #cccccc;color: #000000;}
img {margin: 10px 10px 10px 10px;	border: 1px dashed #808080;}
html {padding: 5px 5px 5px 5px;font-size: medium;font: 100% Arial,Helvetica,sans-serif}
h2 {font-size: x-large;}
h3 {font-size: medium;color: gray}
b {font-weight: bold}
pre {margin: 10px 10px 10px 10px;padding: 10px 5px 10px 5px;border: 1px dashed #808080;background: #cccccc;color: #000000;}
img {margin: 10px 10px 10px 10px;	border: 1px dashed #808080;}
html {padding: 5px 5px 5px 5px;font-size: medium;font: 100% Arial,Helvetica,sans-serif}
h2 {font-size: x-large;}
h3 {font-size: medium;color: gray}
b {font-weight: bold}
pre {margin: 10px 10px 10px 10px;padding: 10px 5px 10px 5px;border: 1px dashed #808080;background: #cccccc;color: #000000;}
img {margin: 10px 10px 10px 10px;	border: 1px dashed #808080;}
html {padding: 5px 5px 5px 5px;font-size: medium;font: 100% Arial,Helvetica,sans-serif}
h2 {font-size: x-large;}
h3 {font-size: medium;color: gray}
b {font-weight: bold}
pre {margin: 10px 10px 10px 10px;padding: 10px 5px 10px 5px;border: 1px dashed #808080;background: #cccccc;color: #000000;}
img {margin: 10px 10px 10px 10px;	border: 1px dashed #808080;}
html {padding: 5px 5px 5px 5px;font-size: medium;font: 100% Arial,Helvetica,sans-serif}
h2 {font-size: x-large;}
h3 {font-size: medium;color: gray}
b {font-weight: bold}
pre {margin: 10px 10px 10px 10px;padding: 10px 5px 10px 5px;border: 1px dashed #808080;background: #cccccc;color: #000000;}
img {margin: 10px 10px 10px 10px;	border: 1px dashed #808080;}
