===== Configuration minimale =====

**Windows (2000,XP,Vista,Windows 7):**
  * 128MB de RAM
  * 100MB d'espace libre sur un disque dur
  * MinGW, QT 4.0, GNU Flex et Bison (si vous voulez compiler le programme)

**Unix/Linux/FreeBSD:**
  * 64MB de RAM
  * 15MB d'espace libre sur un disque dur
  * les bibliothèques de développement QT 4.0 (si vous désirez compiler)
  * GNU Flex et Bison (pour compiler)

