===== System Vereisten =====

**Windows (2000,XP,Vista,Windows 7):**
  * 128MB Ram
  * 100MB Hard Drive Space
  * MinGW, QT 4.0, GNU Flex and Bison (indien u gaat compileren)

**Unix/Linux/FreeBSD:**
  * 64MB Ram
  * 15MB Hard Drive Space
  * QT 4.0 development libraries (indien u gaat compileren)
  * GNU Flex and Bison (indien u gaat compileren)

[[nl:start|Begin]]